<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8" />

<title></title>
</head>
<body>

	<div th:fragment="footer">
		<div class="footer">

				<img th:src="@{/images/ferrary.png}"> 
				<img th:src="@{/images/mercedes.png}"> 
				<img th:src="@{/images/bmw.png}"> 
				<img th:src="@{/images/tesla.png}">
				<img th:src="@{/images/lamborghini.png}"> 
				<img th:src="@{/images/lexus.png}">
				<img th:src="@{/images/porsche.png}" >
		
			<!-- Footer Elements -->

			<!-- Copyright -->
			<p>
				© 2019 Copyright: www.bryle.com
			</p>
			<!-- Copyright -->

		</div>
		<!-- Footer -->
	</div>

</body>
</html>