
<div th:fragment="sale">

	<div class="tab">
		<div class="btn"><a th:id="${coches}" class="tablinks" th:href="@{/controller/sales-operations/car-list}">Coches</a></div>
		<div class="btn"><a th:id="${profesionales}" class="tablinks" th:href="@{/controller/professional-operations/professional-list}">Profesionales</a></div>
		<div class="btn"><a th:id="${ventas}" class="tablinks" th:href="@{/controller/sales-operations/sale-list}">Ventas</a></div>
		<div class="btn"><a th:id="${bonus}" class="tablinks" th:href="@{/building}">Bonus</a></div> 
		
	</div>
	
	<div id="Ventas" class="tabcontent table-responsive">
		<h1>Ventas</h1>
		<div class="container">

			<table id="mi-tabla3" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Fecha</th>
						<th>Coche</th>
						<th>Profesional</th>
						<th>Precio</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="sale: ${sales}">
						<td th:text="*{sale.id}"></td>
						<td th:text="*{sale.saleDate}"></td>
						<td th:text="*{sale.car}"></td>
						<td th:text="*{sale.professional}"></td>
						<td th:text="*{sale.price}"></td>
						<td class="bt-editar"><a
							class="btn btn-outline-primary btn-sm editar"
							th:href="@{/controller/sales-operations/edit-sale/} + ${sale.id}">Editar</a></td>
						<td class="	bt-eliminar"><a
							class="btn btn-outline-danger btn-sm eliminar"
							th:href="@{/controller/sales-operations/delete-sale/} + ${sale.id}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
	
	
	<div class="crear">
		<a class="btn btn-primary" th:href="${createButton}">Crear</a>
	</div>
	
	
</div>	
