<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
	<meta charset="UTF-8"/>
	<title>Acceso Administrador</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/admin-style.css"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin-style.css}"> 
 <!-- <script type="text/javascript" src="js/admin-script.js"></script> -->

</head>
<body>

  <div class="banner">
    <img th:src="@{/images/banner2.jpg}" alt="banner">
  </div>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Comerciales')" id="defaultOpen">Comerciales</button>
    <button class="tablinks" onclick="openTab(event, 'Coches')" >Coches</button>
    <button class="tablinks" onclick="openTab(event, 'Ventas')">Ventas</button>
  </div>


  <div id="Comerciales" class="tabcontent">
  <h1>Comerciales</h1>
     <div class="container">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>DNI</th>
					<th>Ventas</th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="professional: ${professionals}">
					<td th:text="*{professional.id}"></td>
					<td th:text="*{professional.firstName}"></td>
					<td th:text="*{professional.lastName}"></td>
					<td th:text="*{professional.user}"></td>
					<td th:text="*{professional.dni}"></td>
					<td><a>Editar</a></td>
					<td><a th:href="@{/controller/professional-operations/delete-professional/} + ${professional.id}">Eliminar</a></td>
				</tr>	
			</tbody>
		</table>
		
	</div>
  </div>

  <div id="Coches" class="tabcontent">
    <h1>Coches</h1>
     <div class="container">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Nº Bastidor</th>
					<th>Año</th>
					<th>Precio</th>
					<th>Estado</th>
					<th> </th>
					<td> </td>
				</tr>
			</thead>

			<tbody>
				<tr th:each="car: ${cars}">
					<td th:text="*{car.id}"></td>
					<td th:text="*{car.marca}"></td>
					<td th:text="*{car.modelo}"></td>
					<td th:text="*{car.numBastidor}"></td>
					<td th:text="*{car.anyo}"></td>
					<td th:text="*{car.precio}"></td>
					<td th:text="*{car.estado}"></td>
					<td>Editar</td>
					<td><a th:href="@{/controller/admin-profile/delete-car/} + ${car.id}">Eliminar</a></td>
				</tr>	
			</tbody>
		</table>
		
	</div>
     
  </div>

  <div id="Ventas" class="tabcontent">
    <h1>Ventas</h1>
    <div class="container">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Fecha</th>
					<th>Coche</th>
					<th>Comercial</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="sale: ${sales}">
					<td th:text="*{}"></td>
					<td th:text="*{}"></td>
					<td th:text="*{}"></td>
					<td th:text="*{}"></td>
				</tr>	
			</tbody>
		</table>
		
	</div>
 
  </div>



  <div class="content-botton">
    <div class="botones">
      <a th:href="@{/controller/professional-operations/create-comercial}">Crear</a>
      <input type="submit" value="Crear"> 
    </div>
    <div class="botones">
      <input type="submit" value="Modificar">
    </div>
    <div class="botones">
      <input type="submit" value="Eliminar">
    </div>
    <div class="botones">
      <input type="reset" value="Limpiar">
    </div>
  </div>



<footer class="footer">
  <div> 
    <img th:src="@{/images/logo.png}" alt="Logo BryLe">
  </div>

  <div> 
    <p>Aplicación realizada por: <br><span> Bryan Juela y Elena Méndez.</span> </p>
  </div>
</footer>


  <script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>


</body>
</html>