<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
	<meta charset="UTF-8"/>
	<title>Acceso Administrador</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/admin-style.css"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin-style.css}"> 
 <!-- <script type="text/javascript" src="js/admin-script.js"></script> -->

</head>
<body>

  <div class="banner">
    <img th:src="@{/images/banner2.jpg}" alt="banner">
  </div>
  
  <div class="salir">
  		<a th:href="@{/login.html}">Salir</a> 
  </div>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Comerciales')" id="defaultOpen">Comerciales</button>
    <button class="tablinks" onclick="openTab(event, 'Coches')" >Coches</button>
    <button class="tablinks" onclick="openTab(event, 'Ventas')">Ventas</button>
  </div>


  <div id="Comerciales" class="tabcontent table-responsive">
  <h1>Comerciales</h1>
     <div class="container">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>DNI</th>
					<th>Ventas</th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="professional: ${professionals}">
					<td th:text="*{professional.id}"></td>
					<td th:text="*{professional.firstName}"></td>
					<td th:text="*{professional.lastName}"></td>
					<td th:text="*{professional.user}"></td>
					<td th:text="*{professional.dni}"></td>
					<!-- si las ventas es igual a null, mostrar 0
					 <td th:if="*{professional.sales == null}" th:text="0"></td> -->
					<td class="bt-editar"><a class="btn btn-outline-primary btn-sm editar" th:href="@{/controller/professional-operations/edit-professional/} + ${professional.id}">Editar</a></td>
					<td class="bt-eliminar"><a class="btn btn-outline-danger btn-sm eliminar" th:href="@{/controller/professional-operations/delete-professional/} + ${professional.id} ">Eliminar</a></td>
				</tr>	
			</tbody>
		</table>
		
	</div>
  </div>

  <div id="Coches" class="tabcontent table-responsive">
    <h1>Coches</h1>
     <div class="container">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Nº Bastidor</th>
					<th>Año</th>
					<th>Precio</th>
					<!-- <th>Km</th> -->
					<th>Estado</th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="car: ${cars}">
					<td th:text="*{car.id}"></td>
					<td th:text="*{car.marca}"></td>
					<td th:text="*{car.modelo}"></td>
					<td th:text="*{car.numBastidor}"></td>
					<td th:text="*{car.anyo}"></td>
					<td th:text="*{car.precio}"></td>
					<!-- <td th:text="*{car.km}"></td> -->
					<td th:text="*{car.estado}"></td>
					<td class="bt-editar"><a class="btn btn-outline-primary btn-sm editar" th:href="@{/controller/admin-profile/create-car/}">Editar</a></td>
					<td class="	bt-eliminar"><a class="btn btn-outline-danger btn-sm eliminar" th:href="@{/controller/admin-profile/delete-car/} + ${car.id}">Eliminar</a></td>
				</tr>	
			</tbody>
		</table>
		
	</div>
     
  </div>

  <div id="Ventas" class="tabcontent table-responsive">
    <h1>Ventas</h1>
    <div class="container">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Fecha</th>
					<th>Coche</th>
					<th>Comercial</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="sale: ${sales}">
					<td th:text="*{sale.id}"></td>
					<td th:text="*{sale.sale_date}"></td>
					<td th:text="*{sale.car_id}"></td>
					<td th:text="*{sale.professional_id}"></td>
					<td class="bt-editar"><a class="btn btn-outline-primary btn-sm editar" th:href="@{/controller/admin-profile/create-sale/}">Editar</a></td>
					<td class="	bt-eliminar"><a class="btn btn-outline-danger btn-sm eliminar" th:href="@{/controller/admin-profile/delete-sale/} + ${sale.id}">Eliminar</a></td>
				</tr>	
			</tbody>
		</table>
		
	</div>
 
  </div>



	<div class="crear">
		<a class="btn btn-primary" th:href="@{/controller/professional-operations/create-comercial}">Crear</a>
  		<!-- <a class="btn btn-primary" href="@{/controller/professional-operations/create-comercial}" role="button">Crear</a> -->

   </div>




<footer class="footer">
  <div> 
    <img th:src="@{/images/logo.png}" alt="Logo BryLe">
  </div>

  <div> 
    <p>Aplicación realizada por: <br><span> Bryan Juela y Elena Méndez.</span> </p>
  </div>
</footer>


  <script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>


</body>
</html>