<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/coche-style.css">
	<title>Nuevo Coche</title>
</head>
<body>

	<div class="box">
		<img src="../static/images/logo.png" class="avatar" alt="Logo BryLe">
		<div >
			<h1>Nuevo Coche</h1>
		</div>		
		<form  action="">
			<input type="text" placeholder="Marca" required autofocus>
			<input type="text" placeholder="Modelo" required autofocus>
			<input type="text" placeholder="Bastidor" required autofocus>
           	<input type="date"  required>
	        <input type="number" placeholder="Precio" required>

			<input type="submit" value="Crear">
            <input type="reset" value="Limpiar">	
            
		</form>
	</div>
	
</body>
</html>