<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"> 
	
	<title>ERROR 404</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/error-style.css}"> 


</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
				<h2 th:if="${mensaje!= null}" th:text="${mensaje}"></h2>
				<h2 th:if="${mensaje== null}">SORRY PAGE NOT FOUND</h2>
			</div>
			
			<a th:if="${redirectPage != null}" th:href="${redirectPage}">Homepage</a>
			<a th:if="${redirectPage == null}" th:href="@{/login}">Homepage</a>
		</div>
	</div>

</body>

</html>
