<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index-style.css"> 

</head>
<body>
	
	 <div class="box">
      <img src="../static/images/logo.png" class="avatar" alt="Logo BryLe">
      <div >
        <h1>Bienvenido</h1>
      </div>
      <form>
        <label for="username">Nombre de usuario</label>
        <input type="text" placeholder="Introduce nombre de usuario" required autofocus>
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Introduce contraseña" required>
        <input type="submit" value="Acceder">
        <input type="reset" value="Limpiar">
        <a href="recuperar.html">¿Olvidaste tu contraseña?</a><br>
        <a href="registro.html">¿No tienes cuenta?</a>

      </form>
    </div>
</body>
</html>