<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8" />
<title>Página de inicio</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index-style.css}">

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin-script.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.tablesorter.min.js}"></script>

</head>
<body>

	<div class="banner">
		<img th:src="@{/images/banner2.jpg}" alt="banner">
	</div>

	<div class="salir">
		<a th:href="@{/logout}">Cambiar usuario</a>
	</div>
	 
	 <div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
	  		
	<div class="tab">
		<div class="btn"><a th:id="${coches}" class="tablinks" th:href="@{/controller/sales-operations/car-list}">Coches</a></div>
		<div class="btn"><a th:id="${profesionales}" class="tablinks" th:href="@{/controller/professional-operations/professional-list}">Profesionales</a></div>
		<div class="btn"><a th:id="${ventas}" class="tablinks" th:href="@{/controller/sales-operations/sale-list}">Ventas</a></div>
		<!-- <div class="btn"><a th:id="${bonus}" class="tablinks" th:href="@{/building}">Bonus</a></div> --> 
	</div> 
	
	
	<!-- 
	<div class="tabcontent us">
			<h1>BIENVENIDO</h1>
			<div>
				<img th:src="@{/images/logo.png}" alt="Logo BryLe">
			</div>

			<div>
				<p>Aplicación realizada por:<br>
				<span>Bryan Juela y Elena Méndez.</span>
				</p>
			</div>
		</div>
	 -->

<!--<div th:replace="fragments/index-us :: us"></div> -->	
	
	<div th:if="${tabFragment == 'coches'}" >
	<div th:replace="fragments/index-car :: car"></div>
	</div>
	
	<div th:if="${tabFragment == 'profesionales'}" >
	<div th:replace="fragments/index-prof :: prof"></div>
	</div>
	
	<div th:if="${tabFragment == 'ventas'}" >
	<div th:replace="fragments/index-sale :: sale"></div>
	</div>
	
	

</body>
</html>