<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recuperar Contraseña</title>
	<link rel="stylesheet" type="text/css" href="../static/css/recuperar-style.css"> 

</head>
<body>
	
	 <div class="box">
      <img src="../static/images/logo.png" class="avatar" alt="Logo BryLe">
      <div >
        <h1>Recuperar Contraseña</h1>
      </div>
      <form>
        <input type="text" placeholder="Introduce nombre de usuario" required autofocus>
        <input type="password" placeholder="Nueva contraseña" required>
        <input type="password" placeholder="Repetir contraseña" required>
        <input type="submit" value="Acceder">
        <input type="reset" value="Limpiar">
        
      </form>
    </div>


</body>
</html>