<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/registro-style.css">
	<title>Nuevo usuario</title>
</head>
<body>

	<div class="box">
		<img src="../static/images/logo.png" class="avatar" alt="Logo BryLe">
		<div >
			<h1>Nuevo usuario</h1>
		</div>		
		<form  action="">
			<input type="text" placeholder="&#128100;  Nombre" required autofocus>
            <input type="email" placeholder="&#9993;  Email" required>
			<input type="password" placeholder="Introduce contraseña" required>
			<input type="password" placeholder="Repite contraseña" required>            
			<input type="submit" value="Crear">
            <input type="reset" value="Limpiar">	
            
		</form>
	</div>
	
</body>
</html>